<mat-toolbar color="primary">
  <mat-toolbar-row>
    <mat-icon class="icon-title" aria-hidden="false" aria-label="Example home icon">add_shopping_cart</mat-icon>
    <h1>{{title}}</h1>
    <span class="menu-spacer"></span>
    <div>
      <!-- Botões de Navegação por componentes -->
    </div>
    <div>
      <!-- Campo de texto para pequisar um produto -->
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div>
      <!-- Botões de Navegação -->
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<!-- Outlet de rotas dos nossos componentes -->