<app-loading *ngIf="!Produto"></app-loading>

<div *ngIf="Produto" class="content" fxLayout="column" fxLayout.gt-sm="row" fxFlexAlign="start center"
  fxLayoutAlign.gt-sm="center start" fxLayoutGap="16px">
  <div fxFlex="50%" fxFlex.gt-sm="25%">
    <mat-card class="mat-elevation-z0">
      <img mat-card-image class="mat-elevation-z3 productCover" [src]="Produto.image" alt="Photo of a {{Produto.name}}" />
    </mat-card>
    <div class="mat-elevation-z2 tamanho">
      <span  class="mat-display-1">{{Produto.category.name}}</span>
      <mat-card-header>
        <div class="description">          
          <span>{{Produto.description}}</span>
        </div>
      </mat-card-header>
    </div>
  </div>
  <div fxFlex="50" fxFlex.gt-sm="75%">
    <mat-card class="mat-elevation-z0">
      <div class="row">
        <span class="mat-display-1 titulo">{{Produto.name}} {{Produto.model}}</span>
        <br>
        <span class="productInfo">R$ {{Produto.price}}</span><span class="price"> 30% OFF</span>
        <br>
        <span *ngIf="Produto.freeShipping" class="productInfo price">{{verificationFreeShipping(Produto.freeShipping)}}</span>
      </div>
      <div *ngIf="Produto.enabled || Produto.qty" class="row">
        <span *ngIf="Produto.enabled">{{verificationEstoque(Produto.enabled)}} &nbsp;</span>
        <span *ngIf="Produto.qty" class="productInfo prodQtdy">{{Produto.qty}} unidades disponiveis</span>
      </div>
    </mat-card>
  </div>
</div>