<mat-card class="mat-elevation-z4">
  <span class="mat-h3">{{produto.category.name}}</span>
  <img mat-card-image class="produtoImage" [src]=produto.image alt="Photo of a {{produto.name}}">
  <mat-card-header>
    <mat-card-title>R$ {{produto.price}} <span class="promocao">30% OFF</span></mat-card-title>
    <mat-card-subtitle class="promocao">{{verificationFreeShipping(produto.freeShipping)}}</mat-card-subtitle>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
  </mat-card-header>
  <span class="mat-h2">{{produto.name}}</span>
  <mat-card-content>
    <p>
      {{sliceDescriptions(produto.description)}}
    </p>
  </mat-card-content>
</mat-card>