<app-loading *ngIf="!Categoria && !hasError"></app-loading>
<app-error *ngIf="Categoria && hasError"></app-error>
<div *ngIf="Categoria && !hasError" class="content" class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="35%">
    <mat-card class="mat-elevation-z1">
      <mat-card-title class="mat-h4">{{Categoria.name}}</mat-card-title>
      <mat-card-subtitle class="categoryName">{{Categoria.description}}</mat-card-subtitle>
    </mat-card>
  </div>
  <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="35%" *ngFor="let produto of Categoria.products">
    <mat-card class="mat-elevation-z2 cardTamanho">
      <img mat-card-image class="mat-elevation-z3" [src]="produto.image" alt="Photo of a {{produto.name}}" />
      <mat-card-title>R$ {{produto.price}}</mat-card-title>
      <mat-card-content>
        <div *ngIf="produto.freeShipping || produto.enabled">
          <span class="frete">{{verificationFreeShipping(produto.freeShipping)}} &nbsp;</span>          
        </div>
        <span class="text" *ngIf="produto.enabled">{{produto.name}} {{produto.brand}} {{produto.model}}</span>
      </mat-card-content>
    </mat-card>
  </div>
</div>